<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <%- include ("./partials/messages") %>
  <body>
    <h1>welcome admin <%=name %></h1>

    <a href="/users/admin_profile" class="btn"> <i class="fa fa-home"></i> My Profile</a>

    <p class="lead mt-4"><a href="/users/student_profile"><i style='font-size:67px' class='fas'>&#xf501;</i></a></p>
   

    <p class="lead mt-4"><a href="/exam"><i style='font-size:67px' class='fas'>&#9997;</i></a></p>

    <p class="lead mt-4"><a href="/all_Questions_data">Questions</a></p>
    

    <button class='btn btn-success pull-right'>
      <a href="/users/logout">logout</a>
        </button>
  
    
  </body>
</html>
