<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <link rel="stylesheet"
          href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
    
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
  </script>
    <title>Document</title>
    
  </head>
  <body>
    
 
  <h1 class="text-center" style="background-color: rgb(212, 247, 196)">Student Dashboard</h1>


  <a href="/users/logout" class='btn btn-secondary btn-sm pull-right' role="button">
    <span class="glyphicon glyphicon-log-out"></span>logout</a>
   <div class="  text-center">
<a href="/users/std/<%= id %>/edit" class="btn btn-primary btn-lg  " style= "margin-top:70px;margin-left:60px ;" >My Profile</a><br>
<button class="btn btn-primary btn-lg  " style= "margin-top:70px;" >Test</button><br>
<button class="btn btn-primary btn-lg  " style= "margin-top:70px;" >Result</button>
</div>
<div>

</div>
</body>
</html>