<form action="/exam/edit/<%=exam.id%>" method="POST">
  <input type="text" name="name" value="<%=exam.name %>" />
  <input type="date" name="date" value="<%=date %>" />
  <button type="submit">Update</button>
</form>
